/************ upcoming matches portion ************/

.right-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.match-cards {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(220, 220, 220);
    width: 312px;
}

.flags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.match-time,
.info-title {
    text-align: center;
}

/* button color change */

.yello-button {
    background-color: yellow;
}

.red-button {
    background-color: white;
}

/******************* tablet version  ****************/

@media screen and (max-width: 1100px) {
    .right-matches {
        grid-template-columns: repeat(2, 1fr);
    }
}

/******************* mobile version  ****************/

@media screen and (max-width: 778px) {
    .right-matches {
        grid-template-columns: repeat(1, 1fr);
    }
}