/************ css common utilities ************/

body {
    font-family: 'Roboto', sans-serif;
}

/************ player banner ************/

.player-banner {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;
    width: 1332px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.player-info,
.player-image {
    width: 500px;
}

.player-info {
    padding: 50px;
}

.player-image img {
    height: 100%;
}

.banner-titel {
    font-size: 70px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: yellow;
}

.banner-p {
    color: white;
    font-size: 16px;
}

.watch-button {
    font-size: 25px;
    border: none;
    padding: 16px 25px;
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 5px;
}

/************ main big portion ************/

.main-portion {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.big-portion {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

/* left-navigations */

.navigations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    width: 280px;
    border-radius: 10px;
    margin-right: 24px;
}

.link-button {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: white;
    width: 220px;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px;
}

.red-button {
    background-color: yellow;
    color: black;
}

/* right cards */

.right-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid gray;
}

.transfer-button {
    padding: 5px 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    border: 1px solid black;
}

.card-info {
    margin: 15px;
}

.card-bottom-info {
    display: flex;
    align-items: center;
}

.card-bottom-info img {
    margin-right: 10px;
}

.card-bottom-info p {
    margin-right: 30px;
}

/* view-link-button */

.view-all-part {
    margin: 30px;
    display: none;
}

.view-link-button {
    text-decoration: none;
    font-size: 25px;
    border: none;
    padding: 16px 25px;
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 5px;
}

/******************* footer-portion ******************/

.footer-portion {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 100px;
}

.footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.goal {
    color: yellow;
    margin-top: 100px;
}

.short-links {
    border-top: 1px solid gray;
    padding: 20px;
}

.footer-link {
    text-decoration: none;

    color: white;
    margin-left: 10px;
    margin-right: 10px;

}

.icons {
    padding: 20px;
}

.social-icon {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

/******************* tablet version  ****************/

/* big-portion */

@media screen and (max-width: 1100px) {

    /* banner section */

    .banner {}

    .player-info,
    .player-image {
        width: 300px;
    }

    .player-info {
        padding: 20px;
    }

    .banner-titel {
        font-size: 40px;
    }

    .banner-p {
        text-overflow: ellipsis;

    }

    .watch-button {
        font-size: 20px;
        padding: 12px 20px;
        border-radius: 5px;
    }

    /* big .big-portion */

    .big-portion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigations {
        flex-direction: row;
        background-color: white;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .link-button {
        border: 1px solid gray;
    }

    .right-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .last-3 {
        display: none;
    }

    .view-all-part {
        display: inline;
    }
}

/******************* mobile version  ****************/

@media screen and (max-width: 778px) {

    /* banner section */

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .player-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-titel {
        font-size: 28px;
        text-align: center;
    }

    .banner-p {
        text-align: center;
        font-size: 16px;
    }

    /* big .big-portion */

    .navigations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .red-button {
        background-color: yellow;
        color: black;
    }

    .right-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer */

    .footer-link {
        text-align: center;
        display: block;
        margin-bottom: 15px;
    }
}